body {
    background-image: url("../Images/oriental/oriental.png");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    min-height: 100vh;
  }
  
  #masthead {
    margin: 0 0 20px;
    color: #b0c38d;
    background:  #b0c38d;
    border-bottom: 2px solid #d35b3f;
    display: flex;
    justify-content: center;
  }
  
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
  

#logo {
    display: inline-flex;
    width: 250px;
    height: 90px;
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ded797;
    place-content: center;
    text-decoration: none;
    background: #31595e;
  }
  
nav {
    float: right;
    margin: 20px;
  }
  
  
  nav li {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
  }
  
nav a {
    color: #31595e;
    text-decoration: none;
    font-weight: bold;
 }

 nav a:hover {
   background-color: #718c6a;
   border: 9px solid #718c6a;
   color: #31595e;
   font-weight: bold; }


  /* about me content*/

h1 {
  color: #d35b3f;
  font-family: 'Slabo 27px', serif;
  padding-bottom: 20px;
  border-bottom: 1px dashed #31595e;
}
  
.portfolio-image {
    float: left;
    height: 200px;
    padding-right: 24px;
    width: 200px;
  }

  .section-content {
    max-width: 900px;
    background-color: #d8f1bb;
    margin: 10px;
    border: 20px solid #d8f1bb;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
  }

  .section-main {
    display: flex;
    flex: 1;
    justify-content: center;
  }

    /* contact form*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #d35b3f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


 .work {
  position: relative;
  display: inline-flex;
  margin: 20px 0 25px;
  margin-right: 40px;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin-bottom: 0;
  line-height: 50px;
 

  /* Typography */

  color: #fff;
  text-align: center;
  background: #d35b3f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}


  /* footer*/


.footer {
    font-size: 12px;
    margin-top: 100px;
    color: #ccc;
    text-align: center;
    background-color: #718c6a;
    border-top: 8px solid #d35b3f;
    justify-content: center;
    position: sticky;
  }

